**/.git
**/.gitignore
**/.vscode
**/.DS_Store
**/__pycache__
**/*.pyc
**/*.pyo
**/*.egg-info
**/.pytest_cache
**/.env
**/.env.*.local
.dockerignore
Dockerfile
.venv
venv
env
.coverage
htmlcov
build
dist
*.egg
.tox
.mypy_cache
.dmypy.json
dmypy.json
